
<main  class="main">
  <section class="h-screen max-h-screen ">

    <section
    class="max-h-screen h-screen
    dark:bg-gray-800
      overflow-y-scroll
      scrollbar dark:scrollbar-track-slate-700 dark:scrollbar-thumb-slate-600">

      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
      <div class="h-[400px] bg-white bg-opacity-0">  <p>Hi!</p></div>
     </section>

  </section>

</main>
