<section (keydown.esc)="cancelCard()" class="max-h-screen h-[calc(100vh_-_48px)] dark:bg-sky-950 flex flex-col ">

  <div #bgblack *ngIf="updatingCardNameBoolean() === true" class="fixed min-w-full min-h-full bg-black bg-opacity-60 top-0 left-0 z-40 yes"></div>
  <div #bgblackCard *ngIf="cardReady() === true" class="fixed min-w-full min-h-full bg-black bg-opacity-60 top-0 left-0 z-40 yes"></div>

<div (keydown.esc)="cancelCard()" *ngIf="cardReady()"  class="fixed h-auto rounded-lg  min-w-full w-full md:min-w-[768px] md:w-[768px] z-50 dark:bg-gray-800 bg-white top-20   right-[50%] translate-x-[50%] ">

  <div id="cardHeader" class="w-full min-h-[80px] relative dont py-2 pl-[56px] pr-[52px]">
      <span (click)="$event.stopPropagation()" class="w-[40px] h-[40px] dont flex justify-center items-center absolute left-0 top-2 p-[6px] mx-2  rounded-full dark:fill-white fill-gray-600  ">
        <svg xmlns="http://www.w3.org/2000/svg" class="dark:fill-white pointer-events-none dont" version="1.2" viewBox="0 0 215 215" width="20" height="20"><path class="dont" fill-rule="evenodd"  d="m189.7 191.5c-53.1 0.1-105.1 0.1-157.1 0.1-24.7-0.1-32.6-8.1-32.6-33 0-35.3 0-70.7 0-106 0.1-19.9 9.1-29.4 28.9-29.5 52.4-0.2 104.8-0.1 157.2 0 19.7 0.1 28.8 9.6 28.8 29.5q0.2 54.8 0 109.6c0 18.4-5.5 25-25.2 29.3zm-21.6-142.9c-47.4 0-94.9 0-143.7 0 0 22.5-0.2 43.4 0.4 64.3 0.1 2.1 5.1 5.9 7.8 5.9q74.9 0.6 149.9 0c2.7 0 7.7-3.8 7.7-6 0.6-20.9 0.4-41.8 0.4-64.2-7.7 0-13.9 0-22.5 0zm-88.8 117.5c8.5 0.5 15.8-1.7 15.5-11.7-0.2-9.3-7.5-10.7-15.4-10.6q-20.8 0.3-41.7 0.1c-7.4-0.1-12.7 2.7-13 10.5-0.3 8.4 5.1 11.7 13.1 11.7 13.1-0.1 26.2 0 41.5 0zm88.1-11.1c3.4 3.7 6.3 8.7 10.5 10.5 2.5 1 8.7-2 10.5-4.9 1.8-2.9 1.6-8.7-0.2-11.9-4.6-8.4-15-6-20.8 6.3z"/>
          <path class="dont" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" d="m189.7 191.5c-53.1 0.1-105.1 0.1-157.1 0.1-24.7-0.1-32.6-8.1-32.6-33 0-35.3 0-70.7 0-106 0.1-19.9 9.1-29.4 28.9-29.5 52.4-0.2 104.8-0.1 157.2 0 19.7 0.1 28.8 9.6 28.8 29.5q0.2 54.8 0 109.6c0 18.4-5.5 25-25.2 29.3zm-21.6-142.9c-47.4 0-94.9 0-143.7 0 0 22.5-0.2 43.4 0.4 64.3 0.1 2.1 5.1 5.9 7.8 5.9q74.9 0.6 149.9 0c2.7 0 7.7-3.8 7.7-6 0.6-20.9 0.4-41.8 0.4-64.2-7.7 0-13.9 0-22.5 0zm-88.8 117.5c8.5 0.5 15.8-1.7 15.5-11.7-0.2-9.3-7.5-10.7-15.4-10.6q-20.8 0.3-41.7 0.1c-7.4-0.1-12.7 2.7-13 10.5-0.3 8.4 5.1 11.7 13.1 11.7 13.1-0.1 26.2 0 41.5 0zm88.1-11.1c3.4 3.7 6.3 8.7 10.5 10.5 2.5 1 8.7-2 10.5-4.9 1.8-2.9 1.6-8.7-0.2-11.9-4.6-8.4-15-6-20.8 6.3z"/>
        </svg>
      </span>
      <div  (click)="$event.stopPropagation()" class=" content-center w-full dont">
      <textarea
          (keydown.esc)="cancelCard()"
          (keydown.enter)="$event.preventDefault()"
          maxlength="50"
          class="mt-2 p-1 py-0 resize-none px-[10px] w-full text-left text-[20px] font-semibold min-h-[33px] dont h-[33px] break-inside-auto overflow-y-hidden break-words whitespace-nowrap text-nowrap flex-nowrap dark:bg-gray-800 dark:text-gray-100"
          [(ngModel)]="cardNameFor"
          (keyup.enter)="updateCard(); blurTextArea($event); $event.preventDefault()">
      </textarea>


        <div class="-mt-1 dont pointer-events-none">
          <p class="p-1 px-[10px] dont pointer-events-none dark:text-gray-400">In list <strong>{{selectList?.name}}</strong></p>
        </div>
      </div>



      <span class="w-[40px] h-[40px] flex justify-center items-center absolute right-0 top-2 p-[6px] mx-2 cursor-pointer rounded-full dark:fill-white  dark:hover:bg-white dark:hover:bg-opacity-15 hover:bg-black hover:bg-opacity-15"><svg class="" width="24" height="24" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12Z"></path></svg></span>
  </div>

    <div (click)="$event.stopPropagation()" id="cardDescription" class="w-full min-h-[80px] relative dont py-2 pl-[56px] pr-[52px]">

      <span  class="w-[40px] h-[40px] dont flex justify-center items-center absolute left-0 top-2 p-[6px] mx-2  rounded-full dark:fill-white fill-gray-600  ">
        <svg width="24" height="24" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM4 9C3.44772 9 3 9.44772 3 10C3 10.5523 3.44772 11 4 11H20C20.5523 11 21 10.5523 21 10C21 9.44772 20.5523 9 20 9H4ZM3 14C3 13.4477 3.44772 13 4 13H20C20.5523 13 21 13.4477 21 14C21 14.5523 20.5523 15 20 15H4C3.44772 15 3 14.5523 3 14ZM4 17C3.44772 17 3 17.4477 3 18C3 18.5523 3.44772 19 4 19H14C14.5523 19 15 18.5523 15 18C15 17.4477 14.5523 17 14 17H4Z"></path></svg>
      </span>
      <div  (click)="$event.stopPropagation()" class=" content-center w-full dont">
        <p class="mt-2 p-1 py-0 resize-none  px-[10px] w-full text-left text-base font-semibold min-h-[33px] dont h-[33px] break-inside-auto overflow-y-hidden  break-words whitespace-nowrap text-nowrap flex-nowrap dark:bg-gray-800 dark:text-gray-100">Description</p>
      </div>

      @if(selectCard.description !== null && selectCard.description !== '' && selectCard.description !== undefined) {
        <p *ngIf="!onDescription()" (click)="startEditDescrip()" class="text-sm text-left w-full dark:text-gray-400  break-words  ">
          {{ selectCard.description }}
        </p>
      }@else{
        <p *ngIf="!onDescription()" (click)="startEditDescrip()" class="w-full min-h-[50px] mt-2 text-left text-sm font-medium align-text-top p-2 px-3 dark:text-gray-400 dark:hover:bg-white dark:hover:bg-opacity-15 hover:bg-black hover:bg-opacity-20 cursor-pointer bg-black bg-opacity-15 dark:bg-white dark:bg-opacity-5 select-none" style="vertical-align: top;">
          Add a description
        </p>
      }
      <textarea id="description" *ngIf="onDescription()" maxlength="200"  class="mt-2 p-1 py-0 resize-none  px-[10px] w-full text-left text-base font-semibold min-h-[33px] dont break-inside-auto overflow-y-hidden  break-words  dark:bg-gray-900 dark:text-gray-100"     (keydown.enter)="$event.preventDefault()" (keyup.enter)="updateCard(); blurTextArea($event); $event.preventDefault(); this.onDescription.set(false)"  [(ngModel)]="selectCard.description" (blur)="onDescription.set(false)" (input)="adjustTextareaHeight($event)"></textarea>
    </div>

    <div (click)="$event.stopPropagation()" id="cardComment" class="w-full min-h-[80px] relative dont py-2 pl-[56px] pr-[52px]">

      <span  class="w-[40px] h-[40px] dont flex justify-center items-center absolute left-0 top-2 p-[6px] mx-2  rounded-full dark:fill-white fill-gray-600  ">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-240q-17 0-28.5-11.5T240-280v-80h520v-360h80q17 0 28.5 11.5T880-680v600L720-240H280ZM80-280v-560q0-17 11.5-28.5T120-880h520q17 0 28.5 11.5T680-840v360q0 17-11.5 28.5T640-440H240L80-280Zm520-240v-280H160v280h440Zm-440 0v-280 280Z"/></svg>
      </span>

      <div  (click)="$event.stopPropagation()" class=" content-center w-full dont">
        <p class="mt-2 p-1 py-0 resize-none  px-[10px] w-full text-left text-base font-semibold min-h-[33px] dont h-[33px] break-inside-auto overflow-y-hidden  break-words whitespace-nowrap text-nowrap flex-nowrap dark:bg-gray-800 dark:text-gray-100">Activity</p>
      </div>

      @if(selectCard.comment !== null && selectCard.comment !== '' && selectCard.comment !== undefined) {

        <div class="w-full">
          <div class="flex dark:bg-white dark:hover:bg-opacity-10 dark:bg-opacity-0  bg-black rounded-full bg-opacity-0 hover:bg-opacity-10  items-center justify-center w-[32px] h-[32px] absolute left-4">
            <button  class="w-[24px] h-[24px] rounded-full overflow-hidden ">
              @if(user){
                @if (user.photo!==null && user.photo!==undefined){
                <img [src]="user.photo" class="object cover">
              }@else{
                <svg class="fill-purple-500" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                </defs>
                <circle cx="12" cy="12" r="11" class="random-color" />
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white" font-size="12">
                  {{user.username.charAt(0)}}
                </text>
              </svg>
              }
              }

            </button>
        </div>

          <p *ngIf="!onComment()" (click)="startEditComment()" class="text-sm text-left w-full bg-gray-900 p-2 rounded-md dark:text-white  break-words  ">
            {{ selectCard.comment }}
          </p>
        </div>

      }@else{
        <div  *ngIf="!onComment()" class="w-full">
          <div class="flex dark:bg-white dark:hover:bg-opacity-10 dark:bg-opacity-0  bg-black rounded-full bg-opacity-0 hover:bg-opacity-10  items-center justify-center w-[32px] h-[32px] absolute left-4">
            <button  class="w-[24px] h-[24px] rounded-full overflow-hidden ">
              @if(user){
                @if (user.photo!==null && user.photo!==undefined){
                <img [src]="user.photo" class="object cover">
              }@else{
                <svg class="fill-purple-500" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                </defs>
                <circle cx="12" cy="12" r="11" class="random-color" />
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white" font-size="12">
                  {{user.username.charAt(0)}}
                </text>
              </svg>
              }
              }

            </button>
        </div>
        <p (click)="startEditComment()" class="w-full min-h-[50px] mt-2 text-left text-sm font-medium align-text-top p-2 px-3 dark:text-gray-400 dark:hover:bg-white dark:hover:bg-opacity-15 rounded-md hover:bg-black hover:bg-opacity-20 cursor-pointer bg-black bg-opacity-15 dark:bg-white dark:bg-opacity-5 select-none" style="vertical-align: top;">
          Add a comment
        </p>
        </div>
      }
      <div *ngIf="onComment()"  class="flex dark:bg-white dark:hover:bg-opacity-10 dark:bg-opacity-0  bg-black rounded-full bg-opacity-0 hover:bg-opacity-10  items-center justify-center w-[32px] h-[32px] absolute left-4">
        <button  class="w-[24px] h-[24px] rounded-full overflow-hidden ">
          @if(user){
            @if (user.photo!==null && user.photo!==undefined){
            <img [src]="user.photo" class="object cover">
          }@else{
            <svg class="fill-purple-500" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <circle cx="12" cy="12" r="11" class="random-color" />
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="white" font-size="12">
              {{user.username.charAt(0)}}
            </text>
          </svg>
          }
          }

        </button>
      </div>
      <textarea id="comment" *ngIf="onComment()" maxlength="200"  class="mt-2 p-1 py-0 resize-none  px-[10px] w-full text-left text-base font-semibold min-h-[33px] dont break-inside-auto overflow-y-hidden  break-words  dark:bg-gray-900 dark:text-gray-100"     (keydown.enter)="$event.preventDefault()" (keyup.enter)="updateCard(); blurTextArea($event); $event.preventDefault(); this.onComment.set(false)"  [(ngModel)]="selectCard.comment" (blur)="onComment.set(false)" (input)="adjustTextareaHeight($event)"></textarea>

    </div>

    <div (click)="$event.stopPropagation()" id="cardLabel" class="w-full min-h-[80px] relative dont py-2 pl-[56px] pr-[52px] mb-2">

      <div  (click)="$event.stopPropagation()" class=" content-center w-full dont">
        <p class="mt-2 p-1 py-0 resize-none  px-[10px] w-full text-left text-base font-semibold min-h-[33px] dont h-[33px] break-inside-auto overflow-y-hidden  break-words whitespace-nowrap text-nowrap flex-nowrap dark:bg-gray-800 dark:text-gray-100">Label</p>
      </div>

      @if(selectCard.labels !== null && selectCard.labels !== '' && selectCard.labels !== undefined) {

        <div *ngIf="!onLabel()" (click)="startEditLabel()" class="min-h-[32px] w-full cursor-pointer" [ngClass]="{
          'bg-red-500': selectCard.labels === 'red',
          'bg-blue-500': selectCard.labels === 'blue',
          'bg-green-400': selectCard.labels === 'green',
          'bg-yellow-400': selectCard.labels === 'yellow',
          'bg-purple-400': selectCard.labels === 'purple',
          'bg-pink-400': selectCard.labels === 'pink',
          'bg-gray-400': selectCard.labels === 'gray',
        }">
        </div>

      }@else{

        <div *ngIf="!onLabel()" class="w-full min-[40px]">
          <button (click)="startEditLabel()" class="w-full min-h-[40px] mt-2 text-left text-sm font-medium align-text-top p-2 px-3 dark:text-gray-400 dark:hover:bg-white dark:hover:bg-opacity-15 hover:bg-black hover:bg-opacity-20 cursor-pointer bg-black bg-opacity-15 dark:bg-white dark:bg-opacity-5 select-none" style="vertical-align: top;">
            Add a label
          </button>
        </div>

      }

      <div *ngIf="onLabel()" class="w-full min-[40px]">
        <div class="flex gap-2">
          <button (click)="updateCardLabel('red')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-red-500"></button>
          <button (click)="updateCardLabel('blue')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-blue-500"></button>
          <button (click)="updateCardLabel('green')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-green-400"></button>
          <button (click)="updateCardLabel('yellow')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-yellow-400"></button>
          <button (click)="updateCardLabel('purple')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-purple-400"></button>
          <button (click)="updateCardLabel('pink')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-pink-400"></button>
          <button (click)="updateCardLabel('gray')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-gray-400"></button>
          <button (click)="updateCardLabel('')" class="w-[32px] h-[32px] rounded-full overflow-hidden bg-gray-400">X</button>
        </div>
      </div>

    </div>
  </div>
  <div id="updatingCard"  *ngIf="updatingCardNameBoolean() === true" class="fixed w-full max-w-[250px]  z-50">
    <textarea onfocus="select()" placeholder="" maxlength="50" class="p-2 px-3 font-bold dark:text-white w-full z-50 bg-white dark:bg-sky-950 dont resize-none rounded-lg min-h-[36px] h-auto absolute left-0 placeholder:break-words break-words overflow-y-hidden " type="text" [(ngModel)]="cardNameFor" (keydown.esc)="cancelEditingCardName()" (input)="adjustTextareaHeight($event)" (keyup.enter)="updatingCardName()" autofocus></textarea>

    <button  [disabled]="cardNameFor === null || cardNameFor == '' || cardNameFor == undefined" (click)="updatingCardName(); $event.stopPropagation();" [ngClass]="[ cardNameFor === null || cardNameFor == '' || cardNameFor == undefined ? 'left-0 h-[32px] p-[6px] px-[12px]  text-sm rounded-sm bg-blue-700 dark:bg-blue-600  dark:text-black font-semibold text-white  mt-20 z-50' :'left-0 h-[32px] p-[6px] px-[12px]  text-sm rounded-sm bg-blue-600 dark:bg-blue-500 dark:hover:bg-blue-400 dark:text-black font-semibold text-white hover:bg-blue-700 mt-20 z-50']">
      Save
    </button>

    <button  (click)="deleteButtonList.set(true); $event.stopPropagation(); deleteCard(selectCard)" class="dont p-1 rounded-sm button flex justify-center  hover:dark:bg-white hover:dark:bg-opacity-35 hover:bg-gray-300 absolute -right-10 dark:fill-gray-400 top-0 fill-gray-800 z-50
    dark:bg-gray-700 bg-white
    ">
      <svg  class="pointer-events-none dont" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
    </button>
  </div>

  <div id="updatingList" *ngIf="buttonEditChooseList()"
  class="absolute dont dark:bg-slate-600  rounded-sm z-50 bg-white shadow-md h-[130px] w-[40px] flex flex-col justify-center ease-in-out transition-opacity duration-1000 p-1 dark:fill-gray-400 top-0 fill-gray-800" >

    <div class="dont flex flex-col gap-4">
      <button (click)="editButtonList.set(true); buttonEditChooseList.set(false); $event.stopPropagation(); startEditingListName(selectList)" class="dont p-1 rounded-sm button flex justify-center hover:dark:bg-white hover:dark:bg-opacity-15 hover:bg-black hover:bg-opacity-15">
        <svg class="pointer-events-none dont" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
      </button>
      <button (click)="deleteButtonList.set(true); buttonEditChooseList.set(false);  $event.stopPropagation(); deleteList(selectList)" class="dont p-1 rounded-sm button flex justify-center hover:dark:bg-white hover:dark:bg-opacity-15 hover:bg-black hover:bg-opacity-15">
        <svg  class="pointer-events-none dont" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
      </button>
    </div>


  </div>

  <div class="h-[50px] bg-slate-800 w-full dark:bg-opacity-80 bg-opacity-50 p-2 px-5">
    <button *ngIf="!editingBoardName" class="p-1 px-3 font-bold text-white bg-white rounded-sm bg-opacity-0 hover:bg-opacity-35" (click)="startEditingBoardName()">
      <h3>{{ boardName() }}</h3>
    </button>

    <input maxlength="50" width="auto" class="p-1 px-3 font-bold text-white bg-white rounded-sm w-min bg-opacity-0 hover:bg-opacity-35 " *ngIf="editingBoardName" type="text" [(ngModel)]="newBoardName" (keyup.enter)="updateBoardName()" (blur)="cancelEditingBoardName()" autofocus onfocus="this.select()">
  </div>
  <div id="containerMain"  class="w-screen h-[calc(100vh_-_102px) min-h-[calc(100vh_-_102px) h-full max-h-[calc(100vh_-_102px) overflow-hidden overflow-x-scroll my-2 scrollbar-track-transparent scrollbar-thumb-gray-400 scrollbar dark:scrollbar-track-transparent dark:scrollbar-thumb-slate-600  p-2 flex flex-row">
    @if(Lists.length !== 0){
    <div cdkDropList cdkDropListOrientation="horizontal"  [cdkDropListData]="Lists"  (cdkDropListDropped)="dropList($event)"      class="  h-full relative flex flex-row min-w-min px-4 gap-4  max-h-[calc(100vh_-_102px) z-0 drag-drop-area">

      @for(list of Lists; let i = $index; track list.id){

        <div cdkDrag (cdkDragMoved)="MoveList($event)"   [style.view-transition-name]="'list_' + list.id"  id="list_{{list.id}}"   class="w-[272px] min-w-[272px] max-w-[272px]  dark:bg-[#101204] h-min bg-gray-100 shadow-md rounded-xl p-2 dark:text-gray-50 mx-auto max-h-full relative justify-center "   >

          <div id="placeHolderList" class="w-[272px] min-w-[272px] max-w-[272px]  bg-[#101204] bg-opacity-20 dark:bg-opacity-70 h-min  shadow-md rounded-xl p-2" *cdkDragPlaceholder></div>

          <div   class="max-h-[40px] flex flex-row flex-grow drag-drop-area" >
            <input  onfocus="select()" *ngIf="updatingListNameBoolean() && list?.id === selectList?.id" placeholder=""  maxlength="50" class="p-1 px-3 font-bold   dark:text-white w-full max-w-[224px] bg-white rounded-lg   bg-opacity-0 hover:bg-opacity-35 " type="text" [(ngModel)]="listNameFor" (keydown.esc)="cancelEditingListName()" (keyup.enter)="updatingListName()" (blur)="cancelEditingListName()" autofocus>
            <button  *ngIf="!updatingListNameBoolean() || list?.id !== selectList?.id" class="p-1 px-3 dont  font-bold dark:text-white w-full max-w-[224px]  text-left bg-white rounded-lg bg-opacity-0 hover:bg-opacity-35" (click)="startEditingListName(list); $event.stopPropagation(); ">
              <h3 class="pointer-events-none">{{ list?.name }}</h3>
            </button>
            <button (click)="buttonEditChooseList() === true ? buttonEditChooseList.set(false) : buttonEditChooseList.set(true); buttonEditList(list); $event.stopPropagation()" class="min-w-[32px] min-h-[32px] relative rounded-lg dark:fill-gray-400 fill-gray-800 hover:dark:bg-white hover:dark:bg-opacity-15 hover:bg-black hover:bg-opacity-15">
              <span class="mx-auto">
                <svg class="mx-auto" width="16" height="16" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5 14C6.10457 14 7 13.1046 7 12C7 10.8954 6.10457 10 5 10C3.89543 10 3 10.8954 3 12C3 13.1046 3.89543 14 5 14ZM12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14ZM21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12Z" fill="currentColor"></path></svg>
              </span>
            </button>
          </div>
          <!--!CARDS-->
          <div  class="w-full max-h-full">
            <div id="card_{{i}}"  cdkDropList [cdkDropListData]="Lists[i]?.cards" [cdkDropListConnectedTo]="filteredIds(i)" (cdkDropListDropped)="dropCard($event,list)"    class="gap-3 my-3 py-3 flex flex-col items-start   max-h-[calc(100vh_-_250px)] overflow-y-scroll overflow-x-hidden scrollbar-thin " >
              @for(card of list?.cards; track card?.pos; let i = $index) {
                  <div cdkDrag  (cdkDragMoved)="MoveCard($event)"  (mouseenter)="hoverEditCardName(list); indexCard.set(i);" (mouseleave)="hoverEditCardNameOut();" [style.view-transition-name]="'card_' + card?.id" id="cardi_{{card?.id}}"  class="min-h-[48px] z-0 h-auto dont min-w-[240px] max-w-[240px] mx-auto dark:bg-white dark:bg-opacity-10 relative rounded-md  flex flex-row items-center font-semibold text-black shadow-sm bg-white text-sm hover:ring-2 ">

                    <div id="placeHolderCard" class="min-h-[48px] bg-[#101204] dark:bg-slate-300  bg-opacity-20 dark:bg-opacity-5 z-0 h-auto dont min-w-[250px] max-w-[250px] relative rounded-md  flex flex-row items-center font-semibold text-black shadow-sm  text-sm " *cdkDragPlaceholder></div>

                    <div  class="w-full h-full flex items-center drag-drop-area">

                      <button  (click)="goCard(card,list)" *ngIf="!updatingCardNameBoolean() || i !== indexCard() || list?.id !== selectList?.id" class="w-full max-w-[224px] h-full text-left dark:text-gray-300 z-0 p-3 py-[8px]">
                        <div *ngIf="card.labels !== null && card.labels !== '' && card.labels !== undefined" class="w-full min-h-[8px] mb-1">
                          <div id="labelChick" class="h-[8px] rounded-full w-full"
                          [ngClass]="{
                            'bg-red-500': card.labels === 'red',
                            'bg-blue-500': card.labels === 'blue',
                            'bg-green-400': card.labels === 'green',
                            'bg-yellow-400': card.labels === 'yellow',
                            'bg-purple-400': card.labels === 'purple',
                            'bg-pink-400': card.labels === 'pink',
                            'bg-gray-400': card.labels === 'gray',
                          }"></div>
                        </div>
                        <h3  class="whitespace-normal flex-grow break-words pointer-events-none">{{ card?.title }}</h3>
                      </button>

                      @if(!updatingCardNameBoolean() || i !== indexCard()) {
                        <button *ngIf="editCardName() && i === indexCard() && list?.id === selectEditList()" (click)="startEditingCardName(card, list); $event.stopPropagation()" class="w-[32px] h-[32px] absolute right-0 tranlate-y-[50%] dark:fill-gray-300 rounded-full dark:text-gray-300 hover:dark:bg-white hover:dark:bg-opacity-5 hover:bg-black hover:bg-opacity-5">
                          <svg class="pointer-events-none dont mx-auto" xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 -960 960 960" width="16"><path d= "M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                        </button>
                      }
                    </div>
                  </div>

              }
              @empty {

                <div  (mouseenter)="hoverEditCardName(list)" (mouseleave)="hoverEditCardNameOut()" class="w-full h-full min-h-[36px] relative mx-auto flex justify-center flex-col ">

                </div>

              }


            </div>
          </div>
      <!--!CARDS-->
      <button  *ngIf="!creatingCardBoolean() || i !== creatingCardChoose()" (click)="startCreatingCard(i); $event.stopPropagation(); " class="min-h-[36px] max-h-[36px] dont min-w-[256px] max-w-[256px] dark:hover:bg-white dark:hover:bg-opacity-30 hover:bg-opacity-30 rounded-md p-3 flex flex-row items-center font-semibold dark:text-white text-gray-600  hover:bg-black text-sm mt-1">
        <span class="mr-2 dont">
          <svg class="dont" width="16" height="16" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 3C11.4477 3 11 3.44772 11 4V11L4 11C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11L13 11V4C13 3.44772 12.5523 3 12 3Z" fill="currentColor"></path></svg>
        </span>
        Add a card
      </button>

      <div  *ngIf="creatingCardChoose() === i"  class="dont min-w-[256px] max-w-[256px] dark:bg-[#101204] bg-gray-100 rounded-xl  dark:text-gray-50 ">
        <input  onfocus="select()"  placeholder="Enter card title..." maxlength="50" width="auto" class="p-1 px-3 font-bold w-full mt-1 dark:bg-gray-800 min-h-[56px]  dark:text-white bg-white    placeholder-align-top rounded-lg border-2 dark:border-gray-500 " type="text" [(ngModel)]="cardName" (keyup.enter)="createCard(list)" (keydown.esc)="cancelCreatingCard()"  autofocus>
        <div class="mt-2 flex flex-row gap-1 ">
          <button [disabled]="cardName === null || cardName == '' || cardName == undefined" (click)="createCard(list); $event.stopPropagation();" [ngClass]="[ cardName === null || cardName == '' || cardName == undefined ? 'w-[90px] h-[32px] p-[6px] px-[12px] text-sm rounded-sm bg-blue-700 dark:bg-blue-600  dark:text-black font-semibold text-white ' :'w-[90px] h-[32px] p-[6px] px-[12px] text-sm rounded-sm bg-blue-600 dark:bg-blue-500 dark:hover:bg-blue-400 dark:text-black font-semibold text-white hover:bg-blue-700']">Add card</button>
          <button (click)="cancelCreatingCard(); $event.stopPropagation();" class="w-[32px] h-[32px] dark:hover:bg-white hover:bg-black hover:bg-opacity-15 rounded-sm dark:hover:bg-opacity-15 flex justify-center items-center"><svg width="24" height="24" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12Z" fill="currentColor"></path></svg></button>
        </div>
      </div>
        </div>
      }


    </div>
    }
      <div class="w-full h-full mx-[6px]  dont">
        <button *ngIf="creatingList() === false" (click)="startCreatingList(); $event.stopPropagation();" class="min-h-[44px] dont min-w-[272px] max-w-[272px] dark:bg-white dark:bg-opacity-30 bg-opacity-30 rounded-xl p-3 flex flex-row items-center font-semibold  text-white bg-black text-sm">
          <span class="mr-2 dont">
            <svg class="dont" width="16" height="16" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 3C11.4477 3 11 3.44772 11 4V11L4 11C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11L13 11V4C13 3.44772 12.5523 3 12 3Z" fill="currentColor"></path></svg>
          </span>
          Add another list
        </button>
        <div  *ngIf="creatingList()"  class="w-[272px] dont dark:bg-[#101204] bg-gray-100 rounded-xl p-2 dark:text-gray-50 ">
          <input onfocus="select()" placeholder="Enter list title..." maxlength="50" width="auto" class="p-1 px-3 font-bold w-full dark:text-white  bg-white dark:bg-gray-800 rounded-sm border-2 dark:border-gray-500  " type="text" [(ngModel)]="listName" (keyup.enter)="createList()" (keydown.esc)="cancelCreatingList()"  autofocus>
          <div class="mt-2 flex flex-row gap-1 ">
            <button [disabled]="listName === null || listName == '' || listName == undefined" (click)="createList(); $event.stopPropagation();" [ngClass]="[ listName === null || listName == '' || listName == undefined ? 'w-[73px] h-[32px] p-[6px] px-[12px] text-sm rounded-sm bg-blue-700 dark:bg-blue-600  dark:text-black font-semibold text-white ' :'w-[73px] h-[32px] p-[6px] px-[12px] text-sm rounded-sm bg-blue-600 dark:bg-blue-500 dark:hover:bg-blue-400 dark:text-black font-semibold text-white hover:bg-blue-700']">Add list</button>
            <button (click)="cancelCreatingList(); $event.stopPropagation();" class="w-[32px] h-[32px] dark:hover:bg-white hover:bg-black hover:bg-opacity-15 rounded-sm dark:hover:bg-opacity-15 flex justify-center items-center"><svg width="24" height="24" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12Z" fill="currentColor"></path></svg></button>
          </div>
        </div>
      </div>
  </div>


</section>

